* {
  font-family: "gochihand";
  color: gray;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "gochihand";
  src: url(../assets/fonts/GochiHand-Regular.ttf);
}
body {
  background-color: rgb(192, 164, 140);
  background-image: url(../assets/jpg/Fondo-pagina.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.marco, main {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .marco, main {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .marco, main {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .marco, main {
    max-width: 1320px;
  }
}

.cardBox, .contenedor__formCard, .contenedor__infoCard {
  background-image: url(../assets/jpg/hoja-cartulina-2.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  border-radius: 5%;
  margin: 1%;
  padding: 3%;
  box-shadow: 8px 8px 10px gray;
}

.barranav {
  background-image: url(../assets/jpg/fondo-navbar.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.barranav__img {
  min-width: 120px;
  max-width: 130px;
  width: 15vw;
  padding: 10px;
  border-radius: 10px;
  background-image: url(../assets/jpg/retazo-hoja-menu.jpg);
  background-position: center;
  background-attachment: local;
  box-shadow: 6px 6px 8px black;
}
.barranav__img:hover {
  box-shadow: 6px 6px 8px violet;
}
.barranav__ico {
  border-radius: 10px;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 5px;
  padding-right: 5px;
  background-image: url(../assets/jpg/retazo-hoja-menu.jpg);
  background-position: center;
  background-attachment: local;
}
.barranav__ico:hover {
  min-width: 15px;
  width: 2.5vw;
  height: 35px;
}
.barranav__offcanvas {
  box-shadow: -10px -10px 8px black;
  background-image: url(.../assets/jpg/hoja-cartulina-2.jpg);
  background-attachment: fixed;
}
.barranav__offcanvas--title {
  color: grey;
}
.barranav__offcanvas--title h5 {
  position: relative;
  right: -25%;
}
.barranav__offcanvas--title img {
  min-width: 15px;
  max-width: 20px;
  width: 4vw;
  position: absolute;
  top: 1%;
  right: 75%;
  transform: rotate(19deg);
}
.barranav__offcanvas--body {
  background-image: url(.../assets/jpg/hoja-cartulina-2.jpg);
  background-attachment: fixed;
  margin-top: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.barranav__offcanvas--body img {
  min-width: 15px;
  max-width: 20px;
  width: 4vw;
  position: absolute;
  top: 34%;
  right: 25%;
}
.barranav__offcanvas--body ul {
  align-items: center;
  justify-content: start;
}
.barranav__offcanvas--body ul li:hover {
  text-shadow: 8px 8px 10px violet;
}

.pie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pie--icono {
  width: 10vw;
  margin: 1vw;
}

@media (min-width: 480px) {
  .pie--icono {
    width: 30px;
    margin: 15px;
  }
  h4 {
    color: white;
  }
}
.contenedor {
  display: grid;
  grid-template-columns: repeat 1, 1fr;
  column-gap: 20px;
  align-content: center;
  justify-content: center;
}
@media (min-width: 576px) {
  .contenedor {
    grid-template-columns: repeat 2, 1fr;
  }
}
@media (min-width: 768px) {
  .contenedor {
    grid-template-columns: repeat 3, 1fr;
  }
}
@media (min-width: 576px) {
  .contenedor {
    grid-template-areas: "info publi" "form .";
  }
}
@media (min-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". info publi" ". form publi";
  }
}
.contenedor__infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor__infoCard p {
  font-size: 18px;
  font-stretch: 1.5;
  text-align: center;
  text-indent: 10px;
  line-height: 1.5;
}
@media (min-width: 576px) {
  .contenedor__infoCard {
    grid-area: info;
  }
}
.contenedor__formCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor__formCard h3 {
  text-justify: center;
  text-align: center;
  margin: 1% auto;
}
.contenedor__formCard form div {
  display: block;
  margin: 15px 0;
  text-align: center;
}
.contenedor__formCard form div button {
  text-decoration: none;
  color: gray;
}
@media (min-width: 576px) {
  .contenedor__formCard {
    grid-area: form;
  }
}
@media (min-width: 576px) {
  .contenedor__alLado {
    grid-area: publi;
  }
}

/*# sourceMappingURL=style.css.map */
