/* Inicio General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: gray;
    font-family: "Gochi Hands";
    text-decoration: none;
    background-repeat: no-repeat;
}
@font-face {
    font-family: "Gochi Hands";
    src: url(../assets/fonts/GochiHand-Regular.ttf);
}
body{
    background-color: magenta;
    background-image: url(../assets/jpg/Fondo-pagina.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
/* Fin General */
/* Inicio Header */
.navbar--propio {
    background-image: url(../assets/jpg/fondo-navbar.jpg);
    background-size: cover ; 
    background-attachment: fixed;
}
.navbar__img {
    min-width: 120px;
    max-width: 130px;
    width: 15vw; 
    padding: 10px;
    border-radius: 10px;
    
    background-image: url(../assets/jpg/retazo-hoja-menu.jpg);
    background-position: center;
    background-attachment: local;

    box-shadow: 6px 6px 8px black;
}
.navbar__img:hover{
    box-shadow: 6px 6px 8px violet;
}
.navbar__ico{
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 5px;
    padding-right: 5px;

    background-image: url(../assets/jpg/retazo-hoja-menu.jpg);
    background-position: center;
    background-attachment: local;
}
.navbar__ico:hover{
    min-width: 15px;
    width: 4vw;
}
.navbar__div__offcanvas {
    box-shadow: -10px -10px 8px black;
    background-image: url(../assets/jpg/hoja-cartulina-2.jpg);
    background-attachment: fixed;
}
.navbar__div__offcanvas--title {
    color: grey;
}
.navbar__div__offcanvas--title h5 {
position: relative;
right: -25%;
}
.navbar__div__offcanvas--title img {
    min-width: 15px;
    max-width: 20px;
    width: 4vw;
    position: absolute;
    top: 1%;
    right: 75%;
    transform: rotate(19deg);
}
.navbar__div__offcanvas--body {
    background-image: url(../assets/jpg/hoja-cartulina-2.jpg);
    background-attachment: fixed;
    margin-top: 15px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar__div__offcanvas--body img {
    min-width: 15px;
    max-width: 20px;
    width: 4vw;
    position: absolute;
    top: 34%;
    right: 25%;
}
.navbar__div__offcanvas--body ul {
    align-items: center;
    justify-content: start;
}
.navbar__div__offcanvas--body ul li:hover {
    text-shadow: 8px 8px 10px violet;
}
/* Fin Header */
/* Inicio Main INDEX*/
.main__div--info{
    background-image: url(../assets/jpg/hoja-cartulina-2.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;

    border-radius: 15px;
    margin: 1%;
    padding: 3%;
    max-width: 600px;

    box-shadow: 8px 8px 10px gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__div--info p {
    font-size: 18px;
    font-stretch: 1.5;
    text-align: center;
    text-indent: 10px;
    line-height: 1.5;
}
.main__div--info h3{
    text-justify: center;
    text-align: center;
    margin: 5px auto;
}
.main__div--info form div{
    display:block;
    margin: 10px;
    text-align: center;
}
/* INICIO MAIN ESTILOS-DE-AVENTURA */
.contenedor1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contenedor1__card{
    background-image: url(../assets/jpg/hoja-cartulina-2.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;

    border-radius: 15px;
    padding: 3vw;
    margin: 10px;

    box-shadow: 8px 8px 10px gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* INICIO MAIN CONSOLA HTML */
.cajaDeTexto{
    background-image: url(../assets/jpg/hoja-cartulina-2.jpg);
    background-repeat: no-repeat;
    background-position: center;

    text-align: center; 
    color: gray;
    font-size: 24px;

    width: 50vw ;
   
    border-radius: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 3vh;
    margin: auto;
    margin-top: 15vh;
    box-shadow: 0px 10px 10px 2px gray;
}
.cajaDeTexto--img {
    max-height: 20vw;
}
.cajaDeTexto--texto {
    margin: 3vh auto;
}
/* Fin Main */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__ico {
    width: 35px;
    margin: 15px;
}
/* Media */
@media (min-width: 992px) {
    .contenedor1  {
        max-width: 960px;
        flex-direction: row;
    }
    .main__div--card {
        max-width: 45%;
    }
}
@media (min-width:1200px) {
    .contenedor1  {
        max-width:1140px;
    }

}
@media (min-width:1400px) {
    .contenedor1  {
        max-width:1320px;
    }
}