* {
  font-family: "gochihand";
  font-size: 16px;
  color: gray;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "gochihand";
  src: url(../assets/fonts/GochiHand-Regular.ttf);
}
body {
  background-color: rgb(192, 164, 140);
  background-image: url(../assets/jpg/Fondo-pagina.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

main {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  main {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  main {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  main {
    max-width: 1320px;
  }
}

a {
  text-decoration: none;
  color: gray;
}

h1 {
  font-size: 26px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

.hojaMenu, .barranav__ico, .barranav__img {
  background-image: url(../assets/jpg/retazo-hoja-menu.jpg);
  background-position: center;
  background-attachment: local;
}

.hojaNotas, .consola, .barranav__offcanvas--body, .barranav__offcanvas, .cardBox, .crearCuenta, .conceptoBox, .contenedorDeEstilos__tarjetas, .contenedor__formCard, .contenedor__infoCard {
  background-image: url(../assets/jpg/hoja-cartulina-2.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}

.cardBox, .crearCuenta, .conceptoBox, .contenedorDeEstilos__tarjetas, .contenedor__formCard, .contenedor__infoCard {
  border-radius: 15px;
  margin: 1% auto;
  padding: 3%;
  box-shadow: 8px 8px 10px gray;
}

@keyframes ideas {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ponerFoto {
  from {
    transform: rotate(0deg) translate(0px) scale(1);
  }
  to {
    transform: rotate(20deg) translate(20px) scale(0.7);
  }
}
.barranav {
  background-image: url(../assets/jpg/fondo-navbar.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.barranav__img {
  min-width: 120px;
  max-width: 130px;
  width: 15vw;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 8px black;
}
.barranav__img:hover {
  box-shadow: 6px 6px 8px violet;
}
.barranav__ico {
  border-radius: 10px;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 5px;
  padding-right: 5px;
}
.barranav__ico:hover {
  min-width: 15px;
  width: 2.5vw;
  height: 35px;
}
.barranav__offcanvas {
  box-shadow: -10px -10px 8px black;
}
.barranav__offcanvas--title h2 {
  position: relative;
  right: -25%;
  font-size: 22px;
}
.barranav__offcanvas--title img {
  min-width: 15px;
  max-width: 20px;
  width: 4vw;
  position: absolute;
  top: 1%;
  right: 75%;
  transform: rotate(19deg);
}
.barranav__offcanvas--body {
  margin-top: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.barranav__offcanvas--body img {
  min-width: 25px;
  max-width: 50px;
  width: 20vw;
  transform: translate(190%, -40%);
}
.barranav__offcanvas--body ul {
  align-items: center;
  justify-content: start;
  font-size: 22px;
}
.barranav__offcanvas--body ul li:hover {
  text-shadow: 8px 8px 10px violet;
}

.pie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pie p {
  color: white;
}
.pie--icono {
  width: 10vw;
  margin: 1vw;
}
@media (min-width: 480px) {
  .pie--icono {
    width: 30px;
    margin: 15px;
  }
}

.contenedor {
  display: grid;
  grid-template-columns: repeat 1, 1fr;
  column-gap: 20px;
  align-content: center;
  justify-content: center;
}
@media (min-width: 576px) {
  .contenedor {
    grid-template-columns: repeat 2, 1fr;
  }
}
@media (min-width: 768px) {
  .contenedor {
    grid-template-columns: repeat 3, 1fr;
  }
}
@media (min-width: 576px) {
  .contenedor {
    grid-template-areas: "info publi" "form .";
  }
}
@media (min-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". info publi" ". form publi";
  }
}
.contenedor__infoCard {
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor__infoCard p {
  font-size: 16px;
  font-stretch: 1.5;
  text-align: center;
  text-indent: 10px;
  line-height: 1.5;
}
@media (min-width: 576px) {
  .contenedor__infoCard {
    grid-area: info;
  }
}
.contenedor__formCard {
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor__formCard h3 {
  text-justify: center;
  text-align: center;
  margin: 1% auto;
}
.contenedor__formCard--form div {
  display: block;
  margin: 15px 0;
  text-align: center;
}
.contenedor__formCard--form div input {
  border: 2px solid gray;
  transition: border 0.5s;
}
.contenedor__formCard--form div input:focus {
  border: 4px solid green;
}
.contenedor__formCard--form section {
  display: block;
  margin: 15px 0;
  text-align: center;
}
.contenedor__formCard--form section input {
  padding: 2%;
  border-radius: 5px;
}
.contenedor__formCard--form section button {
  padding: 2%;
  border-radius: 5px;
}
@media (min-width: 576px) {
  .contenedor__formCard {
    grid-area: form;
  }
}
.contenedor__alLado {
  display: none;
}
.contenedor__alLado p {
  color: white;
  text-align: center;
}
@media (min-width: 576px) {
  .contenedor__alLado {
    display: inline;
    grid-area: publi;
  }
}

.contenedorDeEstilos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contenedorDeEstilos__tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 95%;
}
.contenedorDeEstilos__tarjetas h1 {
  text-align: center;
}

@media (min-width: 768px) {
  .contenedorDeEstilos {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contenedorDeEstilos__tarjetas {
    max-width: 45%;
  }
}
.consola {
  position: relative;
  text-align: center;
  font-size: 22px;
  width: 70vw;
  border-radius: 20px;
  padding: 2vh 2vw;
  margin: 10% auto;
  box-shadow: 0px 10px 10px 2px gray;
}
.consola--img {
  max-height: 20vw;
}
.consola--texto {
  margin: 3vh auto;
}
.consola__portaLampara {
  display: none;
  position: absolute;
  top: 25%;
  left: 65%;
}
.consola__portaLampara--focoLuz {
  display: none;
  width: 20%;
  min-width: 15px;
}
.consola__portaLampara--focoOscuro {
  display: none;
  width: 12.9%;
  min-width: 10px;
}

@media (min-width: 576px) {
  .consola__portaLampara {
    display: grid;
    grid-template-areas: "porta";
  }
  .consola__portaLampara--focoOscuro {
    display: inline;
    grid-area: porta;
    transform: scale(1) rotate(20deg) translate(30%, 19%);
  }
  .consola__portaLampara--focoLuz {
    display: inline;
    grid-area: porta;
    transform: scale(1) rotate(20deg);
    animation: ideas 5s infinite;
  }
}
.conceptoBox {
  max-width: 80%;
}
.conceptoBox p {
  initial-letter: 0vw;
  line-height: 1.5;
  text-indent: 5%;
}

.crearCuenta {
  max-width: 75%;
}
.crearCuenta img {
  display: none;
  position: absolute;
}
.crearCuenta__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.crearCuenta__form--div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.crearCuenta__form--div input {
  border: 2px solid gray;
  transition: border 0.5s;
  margin-left: 4px;
}
.crearCuenta__form--div input:focus {
  border: 4px solid green;
}
.crearCuenta__form--fin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.crearCuenta__form--fin label {
  text-align: center;
}
.crearCuenta__form--fin input {
  padding: 5%;
  border-radius: 5px;
}

@media (min-width: 576px) {
  .crearCuenta {
    max-width: 80%;
  }
  .crearCuenta__form {
    margin: 5px 0;
  }
  .crearCuenta__form--div {
    flex-direction: row;
  }
  .crearCuenta__form--div label {
    text-align: right;
    width: 160px;
  }
  .crearCuenta__form--fin {
    margin: 5px auto;
  }
}
@media (min-width: 768px) {
  .crearCuenta {
    position: relative;
  }
  .crearCuenta img {
    display: inline-block;
    top: 30%;
    left: -1%;
    transform: rotate(-20deg) scale(0.7);
    transition: transform 5s;
  }
}

/*# sourceMappingURL=style.css.map */
