.pie {
    @include templateFlex (column, center, true);

    &--icono{
        width: 10vw;
        margin: 1vw;
    }
}

@media (min-width: $bp-extrasmall) {
    
    .pie--icono{
        width: 30px;
        margin: 15px;
    }
    h4{
        color: $font-contraste;
    } 
}