.barranav {
    background-image: url(../assets/jpg/fondo-navbar.jpg);
    background-size: cover ; 
    background-attachment: fixed;
    &__img{
        min-width: 120px;
        max-width: 130px;
        width: 15vw; 
        padding: 10px;
        border-radius: 10px;
        
        background-image: url(../assets/jpg/retazo-hoja-menu.jpg);
        background-position: center;
        background-attachment: local;
    
        box-shadow: 6px 6px 8px black;
        &:hover{
            box-shadow: 6px 6px 8px violet;
        }
    }
    &__ico{
        border-radius: 10px;
        padding-top: 2px;
        padding-left: 2px;
        padding-bottom: 5px;
        padding-right: 5px;
    
        background-image: url(../assets/jpg/retazo-hoja-menu.jpg);
        background-position: center;
        background-attachment: local;
        &:hover{
            min-width: 15px;
            width: 2.5vw;
            height: 35px;
        }
    }
    &__offcanvas {
        box-shadow: -10px -10px 8px black;
        background-image: url(.../assets/jpg/hoja-cartulina-2.jpg);
        background-attachment: fixed;
        &--title {
            color: grey;
            h5{
                position: relative;
                right: -25%;
            }
            img{
                min-width: 15px;
                max-width: 20px;
                width: 4vw;
                position: absolute;
                top: 1%;
                right: 75%;
                transform: rotate(19deg);
            }
        }
        &--body{
            background-image: url(.../assets/jpg/hoja-cartulina-2.jpg);
            background-attachment: fixed;
            margin-top: 15px;
            position: relative;
            
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                min-width: 15px;
                max-width: 20px;
                width: 4vw;
                position: absolute;
                top: 34%;
                right: 25%;
            }
            ul{
                align-items: center;
                justify-content: start;
                li:hover{
                    text-shadow: 8px 8px 10px violet;
                }
            }
        }
    }
}

