.consola{
    @extend .hojaNotas;
    position: relative;
    text-align: center; 
    font-size: $font-menu;

    width: 50vw ;
   
    border-radius: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 3vh;
    margin: auto;
    margin-top: 15vh;
    box-shadow: 0px 10px 10px 2px gray;

    &--img {
        max-height: 20vw;
    }
    
    &--texto {
        margin: 3vh auto;
    }
    &__portaLampara {
        display: none;
        position: absolute;
        top: 35%;
        left: 65%;

        &--focoLuz {
            display: none;
            width: 20%;
            min-width: 15px; 
        } 

        &--focoOscuro {
            display: none;
            width: 12.9%;
            min-width: 10px;
        }
    }
    
}

@media (min-width:$bp-small) {
    .consola__portaLampara {
        display: grid; 
        grid-template-areas: "porta";

        &--focoOscuro {
            display: inline;
            grid-area: porta;
            transform:scale(1) rotate(20deg) translate(30%, 19%);
        }
        &--focoLuz {
            display: inline;
            grid-area: porta;
            transform:scale(1) rotate(20deg);
            animation: ideas 5s infinite;
        }
    }
}
