.contenedorDeEstilos {
    @include templateFlex (column, center, true);
    position: relative;

    &__tarjetas {
        @extend .cardBox;
        @include templateFlex (column, center, true);
        max-width: 95%;
        h1{
            text-align: center;
        }
    }

}
@media (min-width: $bp-medium) {
    .contenedorDeEstilos {
        @include templateFlex (row, center, false);

        &__tarjetas {
            max-width: 45%;
            
        }
    }
}