.contenedor {

    @include templateGrid (1, 2, 3);
    align-content: center;
    justify-content: center;

    @media (min-width: $bp-small) {
        grid-template-areas:
         "info publi"
         "form .";
    }

    @media (min-width: $bp-medium) {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
         ". info publi"
         ". form publi";
    }

    &__infoCard {
        @extend .cardBox;
        margin: 2%;
        @include templateFlex (column, center, true);
        p{
            font-size: $font-text;
            font-stretch: 1.5;
            text-align: center;
            text-indent: 10px;
            line-height: 1.5;
        }

        @media (min-width: $bp-small) {
            grid-area: info;
        }
    }

    &__formCard {
        @extend .cardBox;
        margin: 2%;
        @include templateFlex (column, center, true);
            
        h3 {        
            text-justify: center;
            text-align: center;
            margin: 1% auto;
        }
        &--form {

            div {
                display:block;
                margin: 15px 0;
                text-align: center;

                input{
                    border: 2px solid $font-lapiz;
                    transition: border 0.5s;
                }

                input:focus {
                    border: 4px solid green;
                }
            }
            section {
                display:block;
                margin: 15px 0;
                text-align: center;
                
                input{
                    padding: 2%;
                    border-radius: 5px;
                }

                button {
                    padding: 2%;
                    border-radius: 5px;
                }
            }
        }
        @media (min-width: $bp-small) {
            grid-area: form;
        }
    }

    &__alLado {
        display: none;
        p {
            color: $font-contraste;
            text-align: center;
        }
        @media (min-width: $bp-small) {
            display: inline;
            grid-area: publi;
        }
    }
}
