*{
    font-family: "gochihand";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-repeat: no-repeat;
}
@font-face {
    font-family: "gochihand";
    src: url(../assets/fonts/GochiHand-Regular.ttf);
}
body {
    background-color: antiquewhite;
    background-image: url(../assets/jpg/Fondo-pagina.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

