// break points
$bp-extrasmall: 480px;
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1200px;
$bp-xxlarge: 1400px;
// font sizes
$font-text: 16px;
$font-menu: 22px;
$font-title: 26px;
$font-subTitle:20px;
$font-especial: 28px;
// font colors
$font-lapiz: gray;
$font-contraste: white;
