// break points
$bp-extrasmall: 480px;
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1200px;
$bp-xxlarge: 1400px;
// font sizes
$font-text: 18px;
$font-menu: 24px;
$font-especial: 28px;
// font stlyes
